@page "/"
@inject NavigationManager Navigation

<PageTitle>Blog</PageTitle>

<h1>Posts</h1>

<table class="table">
    <thead>
    <tr>
        <th>File Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var blog in _blogs)
    {
        <tr>
            <td>
                <a @onclick="() => NavigateToFile(blog)">@blog</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    private readonly string[] _blogs = ["fun-programming", "genetic-ai", "NuralNet", "test", "diag"];

    private void NavigateToFile(string fileName)
    {
        Navigation.NavigateTo($"/page/{fileName}");
    }
}