@page "/page/{fileName}"
@using Markdig
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>@fileName</PageTitle>

<h1>@fileName</h1>

@if (string.IsNullOrWhiteSpace(_content))
{
    <p><em>Loading...</em></p>
}
else
{
    <div>@((MarkupString)(Body ?? string.Empty))</div>
}

@code {
    [Parameter] public string fileName { get; set; } = string.Empty;

    private string? Body { get; set; }
    private string? _content;

    private readonly MarkdownPipeline _pipeline = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .UseEmojiAndSmiley()
        .Build();

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            _content = await Http.GetStringAsync($"_posts/{fileName}.md");
            var document = Markdown.Parse(_content, _pipeline);
            Body = document.ToHtml(_pipeline);
            await InvokeAsync(StateHasChanged);
            InitializeMermaidAndMathJax();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void InitializeMermaidAndMathJax()
    {
        JS.InvokeVoidAsync("initializeMermaidAndMathJax");
    }
}
